<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Watsons</title>
  <script language="javascript" type="text/javascript">
    function getUrlParams() {
      var params = {};
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
        function (str, key, value) {
          params[key] = value;
        });
      document.getElementById('firstname').innerHTML = params.firstname;
      document.getElementById('lastname').innerHTML = params.lastname;
      document.getElementById('balance').innerHTML = params.balance;
      var currdate = params.currentdate;
      //document.getElementById('currentdate').innerHTML = params.currentdate;
      document.getElementById('currentdate').innerHTML = currdate;
      document.getElementById('cardno').innerHTML = params.cardno;
      document.getElementById('expirypoint').innerHTML = params.expirypoint;
      document.getElementById('expiredate').innerHTML = currdate;
      return params;
    }
  </script>
</head>

<body onload="getUrlParams()" style="padding:0; margin:0;">

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="10">&nbsp;</td>
      <td width="580" height="30" align="center" valign="middle"
        style="font-family:Arial, Helvetica, sans-serif; font-size:12px;"> 🚨 2nd Buy@50% Off ALL Vitamins & Supplements
        ➕CNY Hot Deals➕Earn Upto $35 Cash Vouchers & more! <br />
        <%@ include view='aswVIEW12' %>
      </td>
      <td width="10">&nbsp;</td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="10"></td>
    </tr>

    <tr>
      <td width="600"
        style="border: 0; display: block; width: 100%; max-width: 600px; display:block;-ms-interpolation-mode:bicubic;"
        align="left" valign="top">
        <a href="https://www.watsons.com.sg" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_01.jpg" alt="watsons-logo" width="600"
            style="display:block" />
        </a>
      </td>
    </tr>

    <!-- Start - navbar -->
    <tr>
      <td width="600" align="left" valign="top">
        <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
          <tr bgcolor="#ffffff">
            <td width="149">
              <a href="https://www.watsons.com.sg/member-benefits" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_02.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 149px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Members Offers" />
              </a>
            </td>

            <td width="111">
              <a href="https://www.watsons.com.sg/promo-promotion" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_03.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 111px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Promotion" />
              </a>
            </td>

            <td width="145">
              <a href="https://www.watsons.com.sg/home-delivery-express-app" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_04.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 145px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Express Delivery" />
              </a>
            </td>

            <td width="195">
              <a href="https://www.watsons.com.sg/point-expiry" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_05.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 195px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Redeem your points now" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- end - navbar/ -->

    <tr>
      <td width="600" height="15"></td>
    </tr>
  </table>

  <!-- POINTS INFORMATION -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr valign="top">
      <td width="10" style="width: 10px;">&nbsp;</td>

      <td width="290" align="left" style="overflow: hidden;">
        <table width="290" style="width:290px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="left">
          <tr>
            <td height="18">&nbsp;</td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000; font-weight: bold;">Hello</span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 20px; color: #000000; font-weight: bold;">
                <%= recipient.firstName %>
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000;">Card
                number: <%= targetData.card.visible_Card_Num %></span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000;">
                <% if ( targetData.memberTier.TierName=="Base" ) { %>Member Tier : Regular<% } %>
                    <% if ( targetData.memberTier.TierName=="Elite" ) { %>Member Tier: Elite<% } %>
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 11px; color: #000000; font-weight: bold;">
                <% if (targetData.memberTier.TierName=="Base" && targetData.member.elite_spend_remain>0 ) { %>Spend $<%=
                    targetData.member.elite_spend_remain %> by 31 Dec 2024 to upgrade to Elite status and unlock Elite
                    perks as early as next month!<% } %>
                      <% if (targetData.memberTier.TierName=="Elite" && targetData.member.elite_spend_remain>0 ) {
                        %>Spend $<%= targetData.member.elite_spend_remain %> by 31 Dec 2024 to extend your Elite status
                          and continue enjoying Elite perks in 2025!<% } %>
              </span>
            </td>
          </tr>

          <tr>
            <td height="15">&nbsp;</td>
          </tr>
        </table>
      </td>


      <td width="300" align="center" style="overflow: hidden;">
        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="300" height="21">
            </td>
          </tr>
        </table>

        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="5" height="81" align="left" bgcolor="#ff90d4">
            </td>

            <td width="86" height="81" align="left" bgcolor="#ff90d4">
              <table width="86" bgcolor="#ff90d4" style="width: 86px; table-layout: fixed;" border="0" cellpadding="0"
                cellspacing="0" align="center">

                <tr>
                  <td width="86" height="5" valign="top" bgcolor="#ff90d4"></td>
                </tr>

                <tr>
                  <td width="86" height="71" bgcolor="#ff90d4">
                    <img src="https://dms.wtcsg.aswatson.net/images/20230301_NewWatsonsCards.png" width="86" height="71"
                      style="border: 0; display: block;" />
                  </td>
                </tr>

                <tr>
                  <td width="86" height="5" valign="bottom" bgcolor="#ff90d4"></td>
                </tr>

              </table>
            </td>

            <td width="204" height="81" bgcolor="#ff90d4">
              <table width="204" bgcolor="#ff90d4" style="width: 191px; table-layout: fixed;" border="0" cellpadding="0"
                cellspacing="0" align="center">
                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 13px; line-height: 13px; color: #000000; font-weight: bold;">Total
                      point balance</span></td>
                </tr>

                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 20px; line-height: 20px; color: #000000; font-weight: bold; font-style: italic;">
                      <%= targetData.member.point_Bal_Val %>
                    </span></td>
                </tr>

                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 10px; line-height: 11px; color: #000000; font-style: italic;">
                      <%= targetData.member.points_To_Be_Expired_Val %> points expire on 31 Dec’24
                    </span></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="300" height="16">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="15"></td>
    </tr>

  </table>
  <!-- END:POINTS INFORMATION -->

  <!-- CONTENT:BEGIN -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="100">
        <a href="https://www.watsons.com.sg/promo-3x-bonus?utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=3xbp"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WAT-CRM_25-P1_3X-BP_eDM-top-GIF_Week3-5.gif" width="600"
            height="100" alt="3xbp" style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="60">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_01.gif" width="600" height="60"
          style="border: 0; display: block" />
      </td>
    </tr>

    <tr>
      <td width="600" height="730">
        <a href="https://www.watsons.com.sg?utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=promo"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_02.gif" width="600" height="730" alt="promo"
            style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="459">
              <a href="https://www.watsons.com.sg/search?text=BP_20188%20BP_20310&utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=liese"
                target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_03a.jpg" width="300" height="459" alt="Liese"
                  style="border: 0; display: block;" />
              </a>
            </td>

            <td width="300" height="459">
              <a href="https://www.watsons.com.sg/search?text=BP_76020%20BP_76019%20BP_40278%20BP_40816&utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=loreal"
                target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_03b.jpg" width="300" height="459"
                  alt="Loreal" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="442">
              <a href="https://www.watsons.com.sg/search?text=BP_46628%20BP_16991%20BP_92612&utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=carefree"
                target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_04a.jpg" width="300" height="442"
                  alt="carefree" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="300" height="442">
              <a href="https://www.watsons.com.sg/search?text=BP_29436%20BP_25366%20BP_46519%20BP_22143%20BP_51061%20BP_80768%20BP_49381%20BP_80772%20BP_60665%20BP_60666&utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=colgate"
                target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_04b.jpg" width="300" height="442"
                  alt="colgate" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="421">
              <a href="https://www.watsons.com.sg/search?text=BP_89528%20BP_89529%20BP_89530%20BP_17986%20BP_17989&utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=oralb"
                target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_05a.jpg" width="300" height="421"
                  alt="Oral B" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="300" height="421">
              <a href="https://www.watsons.com.sg/search?text=BP_70969%20BP_70971%20BP_70970%20BP_70972%20BP_70974%20BP_70975%20BP_16185&utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=shokubutsu"
                target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_05b.jpg" width="300" height="421"
                  alt="Shokubutsu" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td width="600" height="125">
        <a href="https://www.watsons.com.sg?utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=more-deals"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_06.jpg" width="600" height="125" alt="more-deals"
            style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="73">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_PR.jpg" width="600" height="73"
          style="border: 0; display: block;" />
      </td>
    </tr>
  </table>

  <!---START OF PR--->
  <!-- product image table -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="5" height="190" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="190">
        <a href="https://<%= targetData.link_1 %>" target="_blank"><img src="<%= targetData.image_link_1 %>" width="190"
            height="190" alt="PR1" border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="190" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="190">
        <a href="https://<%= targetData.link_2 %>" target="_blank"><img src="<%= targetData.image_link_2 %>" width="190"
            height="190" alt="PR2" border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="190" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="190">
        <a href="https://<%= targetData.link_3 %>" target="_blank"><img src="<%= targetData.image_link_3 %>" width="190"
            height="190" alt="PR3" border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="5" height="190" bgcolor="#FFFFFF">
      </td>
    </tr>
  </table>

  <!-- product description table -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="5" height="100" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="100" bgcolor="#FFFFFF">
        <div align="center">
          <span
            style="font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:600;line-height:20px;color:#000000;">
            <%= targetData.title_1 %>
          </span>
        </div>
      </td>
      <td width="10" height="100" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="100" bgcolor="#FFFFFF">
        <div align="center">
          <span
            style="font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:600;line-height:20px;color:#000000;">
            <%= targetData.title_2 %>
          </span>
        </div>
      </td>
      <td width="10" height="100" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="100" bgcolor="#FFFFFF">
        <div align="center">
          <span
            style="font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:600;line-height:20px;color:#000000;">
            <%= targetData.title_3 %>
          </span>
        </div>
      </td>
      <td width="5" height="100" bgcolor="#FFFFFF">
      </td>
    </tr>
  </table>

  <!-- shop now button table -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="5" height="57" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="57">
        <a href="https://<%= targetData.link_1 %>" target="_blank"><img
            src="https://dms.wtcsg.aswatson.net/images/2022112330skinhair_03.jpg" width="190" height="57" alt="PR1"
            border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="57" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="57">
        <a href="https://<%= targetData.link_2 %>" target="_blank"><img
            src="https://dms.wtcsg.aswatson.net/images/2022112330skinhair_03.jpg" width="190" height="57" alt="PR2"
            border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="57" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="57">
        <a href="https://<%= targetData.link_3 %>" target="_blank"><img
            src="https://dms.wtcsg.aswatson.net/images/2022112330skinhair_03.jpg" width="190" height="57" alt="PR3"
            border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="5" height="57" bgcolor="#FFFFFF">
      </td>
    </tr>
  </table>

  <!-- product image table -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="5" height="190" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="190">
        <a href="https://<%= targetData.link_4 %>" target="_blank"><img src="<%= targetData.image_link_4 %>" width="190"
            height="190" alt="PR4" border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="190" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="190">
        <a href="https://<%= targetData.link_5 %>" target="_blank"><img src="<%= targetData.image_link_5 %>" width="190"
            height="190" alt="PR5" border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="190" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="190">
        <a href="https://<%= targetData.link_6 %>" target="_blank"><img src="<%= targetData.image_link_6 %>" width="190"
            height="190" alt="PR6" border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="5" height="190" bgcolor="#FFFFFF">
      </td>
    </tr>
  </table>

  <!-- product description table -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="5" height="100" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="100" bgcolor="#FFFFFF">
        <div align="center">
          <span
            style="font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:600;line-height:20px;color:#000000;">
            <%= targetData.title_4 %>
          </span>
        </div>
      </td>
      <td width="10" height="100" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="100" bgcolor="#FFFFFF">
        <div align="center">
          <span
            style="font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:600;line-height:20px;color:#000000;">
            <%= targetData.title_5 %>
          </span>
        </div>
      </td>
      <td width="10" height="100" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="100" bgcolor="#FFFFFF">
        <div align="center">
          <span
            style="font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:600;line-height:20px;color:#000000;">
            <%= targetData.title_6 %>
          </span>
        </div>
      </td>
      <td width="5" height="100" bgcolor="#FFFFFF">
      </td>
    </tr>
  </table>

  <!-- shop now button table -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="5" height="57" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="57">
        <a href="https://<%= targetData.link_4 %>" target="_blank"><img
            src="https://dms.wtcsg.aswatson.net/images/2022112330skinhair_03.jpg" width="190" height="57" alt="PR4"
            border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="57" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="57">
        <a href="https://<%= targetData.link_5 %>" target="_blank"><img
            src="https://dms.wtcsg.aswatson.net/images/2022112330skinhair_03.jpg" width="190" height="57" alt="PR5"
            border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="57" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="57">
        <a href="https://<%= targetData.link_6 %>" target="_blank"><img
            src="https://dms.wtcsg.aswatson.net/images/2022112330skinhair_03.jpg" width="190" height="57" alt="PR6"
            border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="5" height="57" bgcolor="#FFFFFF">
      </td>
    </tr>
  </table>

  <!-- product image table -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="5" height="190" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="190">
        <a href="https://<%= targetData.link_7 %>" target="_blank"><img src="<%= targetData.image_link_7 %>" width="190"
            height="190" alt="PR7" border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="190" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="190">
        <a href="https://<%= targetData.link_8 %>" target="_blank"><img src="<%= targetData.image_link_8 %>" width="190"
            height="190" alt="PR8" border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="190" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="190">
        <a href="https://<%= targetData.link_9 %>" target="_blank"><img src="<%= targetData.image_link_9 %>" width="190"
            height="190" alt="PR9" border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="5" height="190" bgcolor="#FFFFFF">
      </td>
    </tr>
  </table>

  <!-- product description table -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="5" height="100" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="100" bgcolor="#FFFFFF">
        <div align="center">
          <span
            style="font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:600;line-height:20px;color:#000000;">
            <%= targetData.title_7 %>
          </span>
        </div>
      </td>
      <td width="10" height="100" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="100" bgcolor="#FFFFFF">
        <div align="center">
          <span
            style="font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:600;line-height:20px;color:#000000;">
            <%= targetData.title_8 %>
          </span>
        </div>
      </td>
      <td width="10" height="100" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="100" bgcolor="#FFFFFF">
        <div align="center">
          <span
            style="font-family:Verdana,Geneva,sans-serif;font-size:12px;font-weight:600;line-height:20px;color:#000000;">
            <%= targetData.title_9 %>
          </span>
        </div>
      </td>
      <td width="5" height="100" bgcolor="#FFFFFF">
      </td>
    </tr>
  </table>

  <!-- shop now button table -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="5" height="57" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="57">
        <a href="https://<%= targetData.link_7 %>" target="_blank"><img
            src="https://dms.wtcsg.aswatson.net/images/2022112330skinhair_03.jpg" width="190" height="57" alt="PR7"
            border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="57" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="57">
        <a href="https://<%= targetData.link_8 %>" target="_blank"><img
            src="https://dms.wtcsg.aswatson.net/images/2022112330skinhair_03.jpg" width="190" height="57" alt="PR8"
            border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="10" height="57" bgcolor="#FFFFFF">
      </td>
      <td width="190" height="57">
        <a href="https://<%= targetData.link_9 %>" target="_blank"><img
            src="https://dms.wtcsg.aswatson.net/images/2022112330skinhair_03.jpg" width="190" height="57" alt="PR9"
            border="0" style="border: 0; display: block;" /></a>
      </td>
      <td width="5" height="57" bgcolor="#FFFFFF">
      </td>
    </tr>
  </table>
  <!---END OF PR--->

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="20"></td>
    </tr>

    <tr>
      <td width="600" height="">
        <a href="https://www.watsons.com.sg?utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=CNY"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_07.gif" width="600" height="" alt="cny"
            style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="400">
        <a href="https://www.watsons.com.sg/newmoon-scratch-huat?utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=new-moon"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_08.jpg" width="600" height="400" alt="New Moon"
            style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="353">
        <a href="https://catalog.watsons.com.sg/gongxifacai2025?utm_campaign=20250115_30haircare&utm_medium=watsons_email&utm_source=edm&utm_content=ecat"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250113_09.jpg" width="600" height="353" alt="ecat"
            style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

  </table>

  <!-- CONTENT:END -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="20" style="font-size: 0;"></td>
      <td width="560" style="font-family:Arial, Helvetica, sans-serif; font-size:17px;">
        <p style="line-height: 20px; padding: 0; margin: 0; font-size: 17px;"><strong>Terms and Conditions:</strong></p>

        <!-- 1 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• &lt;30% OFF HAIRCARE | BUY 1 FREE 1 HAIR COLORS | BUY 1
          FREE 1 BATH, ORAL & FEMININE CARE&gt; promotions are valid from 16 – 19 January 2025.</p>

        <!-- 2 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• &lt;30% OFF HAIRCARE | BUY 1 FREE 1 HAIR COLORS | BUY 1
          FREE 1 BATH, ORAL & FEMININE CARE&gt; promotions only applies to regular-priced items, excludes new items,
          promotional banded packs, $2 Buys / 3 for $5, Tonics, Nutritional and prestige mall brands.</p>

        <!-- 3 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• &lt;30% OFF HAIRCARE | BUY 1 FREE 1 HAIR COLORS | BUY 1
          FREE 1 BATH, ORAL & FEMININE CARE&gt; promotions are not applicable for selected items. Please click <a
            href="https://www.watsons.com.sg/exclusion" target="_blank">here</a> to view the full list.</p>

        <!-- 4 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• &lt;30% OFF HAIRCARE | BUY 1 FREE 1 HAIR COLORS | BUY 1
          FREE 1 BATH, ORAL & FEMININE CARE&gt; promotions are not valid with other discounts and offers.</p>

        <!-- 5 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• &lt;30% OFF HAIRCARE | BUY 1 FREE 1 HAIR COLORS | BUY 1
          FREE 1 BATH, ORAL & FEMININE CARE&gt; promotions are not applicable at Pop-up stores and Watsons atrium
          events.</p>

        <!-- 6 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Jubilee Card discounts are not valid in conjunction with
          other discounts and promotions.
        </p>

        <!-- 7 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Watsons reserves the right to change the Terms &
          Conditions of the promotion.
        </p>

        <!-- 8-->
        <p style="line-height: 15px; padding: 0; margin: 0;">• ^For online purchases, members enjoy FREE delivery with
          min. $40 nett spend. Non-members enjoy FREE delivery with min. $50 nett spend.
        </p>

        <!-- 9 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• *Points balance will be updated within 3 days from the
          transaction date. For online transactions, point balance will be updated 2 days after parcel delivery.
        </p>

      </td>
      <td width="20" style="font-size: 0;"></td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
  </table>

  <!-- start of footer banners -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="85">
        <a href="https://s.lazada.sg/s.YrfOS" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WAT-CRM_24-P10_LazadaXwatsons_eDM-Footer_GIF.gif" width="600"
            height="85" style="border: 0; display: block;" alt="Lazada member page" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="5"></td>
    </tr>

    <tr>
      <td width="600" height="100">
        <a href="https://www.watsons.com.sg/elite-benefits?utm_medium=watsons_email&utm_source=edm&utm_content=elite-benefits-footer"
          target="_blank"><img src="http://dms.wtcsg.aswatson.net/images/2023_elitefooterbanner.jpg"
            alt="Elite footer banner" width="600" height="100" style="border: 0; display: block;" /></a>
      </td>
    </tr>

    <tr>
      <td width="600" height="5"></td>
    </tr>

    <tr>
      <td width="600" height="85">
        <a href="https://www.watsons.com.sg/app?utm_medium=watsons_email&utm_source=edm&utm_content=earn-points"
          target="_blank"><img src="https://dms.wtcsg.aswatson.net/images/2022_app3_download-watsons-app_footer.jpeg"
            alt="Download the app now" border="0" width="600" height="85" style="border: 0; display: block;" /></a>
      </td>
    </tr>

  </table>
  <!-- end of footer banners -->


  <!-- footer social media icons -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="283">
        <a href="" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_19.jpg"
            style="border: 0; display: block; width: 100%; max-width: 283px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="28">
        <a href="https://bit.ly/29G3GDS" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_20.jpg"
            style="border: 0; display: block; width: 100%; max-width: 28px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="27">
        <a href="https://bit.ly/2a11k03" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_21.jpg"
            style="border: 0; display: block; width: 100%; max-width: 27px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="29">
        <a href="https://www.tiktok.com/@watsonssg" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_22.jpg"
            style="border: 0; display: block; width: 100%; max-width: 29px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="27">
        <a href="https://bit.ly/29HJlwl" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_23.jpg"
            style="border: 0; display: block; width: 100%; max-width: 27px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="28">
        <a href="https://www.linkedin.com/company/watsons-personal-care-stores-pte-ltd/" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_24.jpg"
            style="border: 0; display: block; width: 100%; max-width: 28px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="178">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_25.jpg"
          style="border: 0; display: block; width: 100%; max-width: 178px; display:block;-ms-interpolation-mode:bicubic;" />
      </td>
    </tr>
  </table>
  <!-- end of footer social media icons -->

  <!--social media disclaimer-->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="10" style="font-size: 0;"></td>
      <td width="580" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;" align="center">
        <p style="line-height: 12px; padding: 0; margin: 0; color: #ff0000;"><strong>Disclaimer:</strong> Watsons
          Singapore only has one official Facebook page (with the blue verification tick mark). Please exercise utmost
          caution and <u>do not</u> purchase from fake, inauthentic pages claiming to be Watsons Singapore. Do report to
          us if you encounter any suspicious activity. </p>
      </td>
      <td width="10" style="font-size: 0;"></td>
    </tr>
  </table>
  <!--end of social media disclaimer-->

  <!-- divider -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="20">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_26.jpg" width="600" height="20"
          style="border: 0; display: block;" />
      </td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
  </table>
  <!-- end of divider -->

  <!-- footer links -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td>
        <div align="center">
          <span style="font-family:Verdana, Geneva, sans-serif; FONT-SIZE: 12px; line-height:20px; color:#000000;">
            <a href="https://www.watsons.com.sg/store-finder?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-store-locator&utm_term=https://www.watsons.com.sg/store-finder"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Store Locator</a> |
            <a href="https://www.watsons.com.sg/login?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-my-account&utm_term=https://www.watsons.com.sg/login"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">My Account</a> |
            <a href="https://www.watsons.com.sg/promo-promotion?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-promotion&utm_term=https://www.watsons.com.sg/promotion"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Promotion</a> |
            <a href="mailto:membership@watsons.com.sg" target="_blank"
              style="line-height:0;text-decoration:none;color:#000000;">Contact us</a> |
            <a href="https://www.watsons.com.sg/privacy-policy?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-promotion&utm_term=https://www.watsons.com.sg/privacy-policy"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Privacy Policy</a> |
            <a href="https://www.watsons.com.sg/login?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=unsuscribe&utm_term="
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Unsubscribe</a>
          </span>
        </div>
      </td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr style="font-family:Verdana, Geneva, sans-serif; line-height:0">
      <td width="600" style="width:600px" align="left" valign="top"></td>
    </tr>

    <tr>
      <td height="30" align="center" valign="top"
        style="font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:10px 18px">
        <strong>Watsons Personal Care Stores Pte Ltd</strong><br />
        300 Beach Road<br />
        #39-01/04 The Concourse<br />
        Singapore 199555
      </td>
    </tr>

    <tr>
      <td width="600" style="width:600px" height="55" align="left" valign="top">
        <img src="https://dms.wtcsg.aswatson.net/images/20230731_footer_newlogo.jpg" width="600" height="55"
          style="border: 0; display: block;" />
      </td>
    </tr>
  </table>

</body>
<footer></footer>

</html>