<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Watsons</title>
  <script language="javascript" type="text/javascript">
    function getUrlParams() {
      var params = {};
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
        function (str, key, value) {
          params[key] = value;
        });
      document.getElementById('firstname').innerHTML = params.firstname;
      document.getElementById('lastname').innerHTML = params.lastname;
      document.getElementById('balance').innerHTML = params.balance;
      var currdate = params.currentdate;
      //document.getElementById('currentdate').innerHTML = params.currentdate;
      document.getElementById('currentdate').innerHTML = currdate;
      document.getElementById('cardno').innerHTML = params.cardno;
      document.getElementById('expirypoint').innerHTML = params.expirypoint;
      document.getElementById('expiredate').innerHTML = currdate;
      return params;
    }
  </script>
</head>

<body onload="getUrlParams()" style="padding:0; margin:0;">

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="10">&nbsp;</td>
      <td width="580" height="30" align="center" valign="middle"
        style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">🛍️ Upto 53% on Abundance Gift Sets, Caltrate,
        Giomie, Swisse, & more deals ➕ Win upto $35,000 Prizes With Any New Moon Purchases!<br />
        <%@ include view='aswVIEW12' %>
      </td>
      <td width="10">&nbsp;</td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="10"></td>
    </tr>

    <tr>
      <td width="600"
        style="border: 0; display: block; width: 100%; max-width: 600px; display:block;-ms-interpolation-mode:bicubic;"
        align="left" valign="top">
        <a href="https://www.watsons.com.sg" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_01.jpg" alt="watsons-logo" width="600"
            style="display:block" />
        </a>
      </td>
    </tr>

    <!-- Start - navbar -->
    <tr>
      <td width="600" align="left" valign="top">
        <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
          <tr bgcolor="#ffffff">
            <td width="149">
              <a href="https://www.watsons.com.sg/member-benefits" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_02.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 149px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Members Offers" />
              </a>
            </td>

            <td width="111">
              <a href="https://www.watsons.com.sg/promo-promotion" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_03.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 111px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Promotion" />
              </a>
            </td>

            <td width="145">
              <a href="https://www.watsons.com.sg/home-delivery-express-app" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_04.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 145px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Express Delivery" />
              </a>
            </td>

            <td width="195">
              <a href="https://www.watsons.com.sg/point-expiry" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_05.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 195px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Redeem your points now" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- end - navbar/ -->

    <tr>
      <td width="600" height="15"></td>
    </tr>
  </table>

  <!-- POINTS INFORMATION -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr valign="top">
      <td width="10" style="width: 10px;">&nbsp;</td>

      <td width="290" align="left" style="overflow: hidden;">
        <table width="290" style="width:290px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="left">
          <tr>
            <td height="18">&nbsp;</td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000; font-weight: bold;">Hello</span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 20px; color: #000000; font-weight: bold;">
                <%= recipient.firstName %>
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000;">Card
                number: <%= targetData.card.visible_Card_Num %></span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000;">
                <% if ( targetData.memberTier.TierName=="Base" ) { %>Member Tier : Regular<% } %>
                    <% if ( targetData.memberTier.TierName=="Elite" ) { %>Member Tier: Elite<% } %>
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 11px; color: #000000; font-weight: bold;">
                <% if (targetData.memberTier.TierName=="Base" && targetData.member.elite_spend_remain>0 ) { %>Spend $<%=
                    targetData.member.elite_spend_remain %> by 31 Dec 2024 to upgrade to Elite status and unlock Elite
                    perks as early as next month!<% } %>
                      <% if (targetData.memberTier.TierName=="Elite" && targetData.member.elite_spend_remain>0 ) {
                        %>Spend $<%= targetData.member.elite_spend_remain %> by 31 Dec 2024 to extend your Elite status
                          and continue enjoying Elite perks in 2025!<% } %>
              </span>
            </td>
          </tr>

          <tr>
            <td height="15">&nbsp;</td>
          </tr>
        </table>
      </td>


      <td width="300" align="center" style="overflow: hidden;">
        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="300" height="21">
            </td>
          </tr>
        </table>

        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="5" height="81" align="left" bgcolor="#ff90d4">
            </td>

            <td width="86" height="81" align="left" bgcolor="#ff90d4">
              <table width="86" bgcolor="#ff90d4" style="width: 86px; table-layout: fixed;" border="0" cellpadding="0"
                cellspacing="0" align="center">

                <tr>
                  <td width="86" height="5" valign="top" bgcolor="#ff90d4"></td>
                </tr>

                <tr>
                  <td width="86" height="71" bgcolor="#ff90d4">
                    <img src="https://dms.wtcsg.aswatson.net/images/20230301_NewWatsonsCards.png" width="86" height="71"
                      style="border: 0; display: block;" />
                  </td>
                </tr>

                <tr>
                  <td width="86" height="5" valign="bottom" bgcolor="#ff90d4"></td>
                </tr>

              </table>
            </td>

            <td width="204" height="81" bgcolor="#ff90d4">
              <table width="204" bgcolor="#ff90d4" style="width: 191px; table-layout: fixed;" border="0" cellpadding="0"
                cellspacing="0" align="center">
                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 13px; line-height: 13px; color: #000000; font-weight: bold;">Total
                      point balance</span></td>
                </tr>

                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 20px; line-height: 20px; color: #000000; font-weight: bold; font-style: italic;">
                      <%= targetData.member.point_Bal_Val %>
                    </span></td>
                </tr>

                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 10px; line-height: 11px; color: #000000; font-style: italic;">
                      <%= targetData.member.points_To_Be_Expired_Val %> points expire on 31 Dec’24
                    </span></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="300" height="16">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="15"></td>
    </tr>

  </table>
  <!-- END:POINTS INFORMATION -->

  <!-- CONTENT:BEGIN -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="100">
        <a href="https://www.watsons.com.sg/promo-elite-ten-bonus-points?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=elite10xbp"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/2025P1_EliteHotBuy_GIF_Banner.gif" width="600" height="100"
            alt="elite10xbp" style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="796">
        <a href="https://www.watsons.com.sg/promo-cny-sale?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=cny-gift"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_01.jpg"
            width="600" height="796" alt="cny-gift" style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="415">
        <a href="https://www.watsons.com.sg/promo-cny-sale?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=pwp"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_02.jpg"
            width="600" height="415" alt="pwp" style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="118">
        <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_03.jpg"
          width="600" height="118" style="border: 0; display: block" />
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="280" height="336">
              <a href="https://www.watsons.com.sg/umf-15-mgo512-manuka-honey-authentic-100-new-zealand-manuka-honey-for-immunity-digestion-skin-health-250g/p/BP_73436?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=manuka-south"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_04a.jpg"
                  width="280" height="336" alt="manuka-south" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="320" height="336">
              <a href="https://www.watsons.com.sg/search?text=BP_15244%20BP_15243&utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=biogaia"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_04b.jpg"
                  width="320" height="336" alt="biogaia" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="200" height="394">
              <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_05a.jpg"
                width="200" height="394" style="border: 0; display: block;" />
            </td>

            <td width="200" height="394">
              <a href="https://www.watsons.com.sg/caltrate-bone-muscle-health-600-d3-calcium-supplement-with-500iu-vitamin-d3-60s/p/BP_80588?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=caltrate"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_05b.jpg"
                  width="200" height="394" alt="caltrate" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="394">
              <a href="https://www.watsons.com.sg/calcium-plus-effervescent-mineral-supplement-tablet-20s/p/BP_41826?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=boost"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_05c.jpg"
                  width="200" height="394" alt="boost" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="200" height="393">
              <a href="https://www.watsons.com.sg/search?text=BP_55852%20BP_55862&utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=blackmores"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_06a.jpg"
                  width="200" height="393" alt="blackmores" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="393">
              <a href="https://www.watsons.com.sg/organic-high-protein-drip-chicken-essence-60g-x-6-s/p/BP_69535?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=eu-yan-sang"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_06b.jpg"
                  width="200" height="393" alt="eu-yan-sang" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="393">
              <a href="https://www.watsons.com.sg/bright-vision-dietary-supplement-capsule-for-healthy-eyes-vision-30s/p/BP_58692?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=greenlife"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_06c.jpg"
                  width="200" height="393" alt="greenlife" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>

          <tr>
            <td>
              <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
                align="center">
                <tr>
                  <td width="200" height="398">
                    <a href="https://www.watsons.com.sg/ultiboost-hair-skin-nails-100-tablets/p/BP_71762?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=swisse"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_07a.jpg"
                        width="200" height="398" alt="swisse" style="border: 0; display: block;" />
                    </a>
                  </td>

                  <td width="200" height="398">
                    <a href="https://www.watsons.com.sg/aloe-multiple-detox-capsules-2x60-capsules-20-capsules/p/BP_22212?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=avalon"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_07b.jpg"
                        width="200" height="398" alt="avalon" style="border: 0; display: block;" />
                    </a>
                  </td>

                  <td width="200" height="398">
                    <a href="https://www.watsons.com.sg/search?text=BP_75122&utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=purest-co"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_07c.jpg"
                        width="200" height="398" alt="purest-co" style="border: 0; display: block;" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td width="600" height="146">
              <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_08.jpg"
                width="600" height="146" style="border: 0; display: block" />
            </td>
          </tr>

          <tr>
            <td>
              <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
                align="center">
                <tr>
                  <td width="200" height="409">
                    <a href="https://www.watsons.com.sg/fever-super-cool-6s/p/BP_82607?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=bye-bye"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_09a.jpg"
                        width="200" height="409" alt="bye-bye" style="border: 0; display: block;" />
                    </a>
                  </td>

                  <td width="200" height="409">
                    <a href="https://www.watsons.com.sg/pain-relieving-jet-spray-118ml/p/BP_69859?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=salonpas"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_09b.jpg"
                        width="200" height="409" alt="salonpas" style="border: 0; display: block;" />
                    </a>
                  </td>

                  <td width="200" height="409">
                    <a href="https://www.watsons.com.sg/alcon-tears-naturale-free-lubricant-eye-drops-0.8ml-x-32s/p/BP_10716?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=alcon"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_09c.jpg"
                        width="200" height="409" alt="alcon" style="border: 0; display: block;" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
                align="center">
                <tr>
                  <td width="200" height="367">
                    <a href="https://www.watsons.com.sg/neck-and-shoulder-rub-pain-relief-50g/p/BP_10826?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=tiger-balm"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_10a.jpg"
                        width="200" height="367" alt="tiger-balm" style="border: 0; display: block;" />
                    </a>
                  </td>

                  <td width="200" height="367">
                    <a href="https://www.watsons.com.sg/cetirizine-10mg-relief-cold-and-allergy-symptoms-tablet-10s/p/BP_38262?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=simtec"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_10b.jpg"
                        width="200" height="367" alt="simtec" style="border: 0; display: block;" />
                    </a>
                  </td>

                  <td width="200" height="367">
                    <a href="https://www.watsons.com.sg/rapid-detection-pregnancy-test-over-99-accurate-clear-results-2s/p/BP_59297?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=clearblue"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_10c.jpg"
                        width="200" height="367" alt="clearblue" style="border: 0; display: block;" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td>
              <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
                align="center">
                <tr>
                  <td width="200" height="371">
                    <a href="https://www.watsons.com.sg/search?text=BP_20335%20BP_20336&utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=megrhythm"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_11a.jpg"
                        width="200" height="371" alt="megrhythm" style="border: 0; display: block;" />
                    </a>
                  </td>

                  <td width="200" height="371">
                    <a href="https://www.watsons.com.sg/search?text=BP_34375%20BP_343376&utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=omron"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_11b.jpg"
                        width="200" height="371" alt="omron" style="border: 0; display: block;" />
                    </a>
                  </td>

                  <td width="200" height="371">
                    <a href="https://www.watsons.com.sg/lozenges-soothing-relief-for-sore-throat-max-pro-16s/p/BP_11431?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=strepsils"
                      target="_blank">
                      <img
                        src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_11c.jpg"
                        width="200" height="371" alt="strepsils" style="border: 0; display: block;" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td width="600" height="158">
              <a href="https://www.watsons.com.sg/promo-healthcare?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=more-health"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_12.jpg"
                  width="600" height="158" alt="more-health" style="border: 0; display: block" />
              </a>
            </td>
          </tr>

          <tr>
            <td width="600" height="414">
              <a href="https://www.watsons.com.sg/newmoon-scratch-huat?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=scratch-huat"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_13.jpg"
                  width="600" height="414" alt="scratch-huat" style="border: 0; display: block" />
              </a>
            </td>
          </tr>

          <tr>
            <td width="600" height="373">
              <a href="https://catalog.watsons.com.sg/gongxifacai2025?utm_campaign=20250117_health&utm_medium=watsons_email&utm_source=edm&utm_content=ecat"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-9/images/WCRM250115_14.jpg"
                  width="600" height="373" alt="ecat" style="border: 0; display: block" />
              </a>
            </td>
          </tr>

        </table>
      </td>
    </tr>

  </table>

  <!-- CONTENT:END -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="20" style="font-size: 0;"></td>
      <td width="560" style="font-family:Arial, Helvetica, sans-serif; font-size:17px;">
        <p style="line-height: 20px; padding: 0; margin: 0; font-size: 17px;"><strong>Terms and Conditions:</strong></p>

        <!-- 1 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Promotion is valid from 16 – 22 Jan 2025.</p>

        <!-- 2 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Promotion is applicable at watsons.com.sg, Watsons SG
          Mobile App and all Watsons stores except Watsons atrium events.
        </p>

        <!-- 3 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Promotion is not valid with other discounts and offers.
        </p>

        <!-- 4 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Jubilee Card discounts are not valid in conjunction with
          other discounts and promotions.
        </p>

        <!-- 5 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Watsons reserves the right to change the Terms &
          Conditions of the promotion.
        </p>

        <!-- 6 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• *Points balance will be updated within 3 days from
          transaction date. For online transaction, point balance will be updated 2 days after parcel delivery.
        </p>
      </td>
      <td width="20" style="font-size: 0;"></td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
  </table>

  <!-- start of footer banners -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="85">
        <a href="https://s.lazada.sg/s.YrfOS" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WAT-CRM_24-P10_LazadaXwatsons_eDM-Footer_GIF.gif" width="600"
            height="85" style="border: 0; display: block;" alt="Lazada member page" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="5"></td>
    </tr>

    <tr>
      <td width="600" height="100">
        <a href="https://www.watsons.com.sg/elite-benefits?utm_medium=watsons_email&utm_source=edm&utm_content=elite-benefits-footer"
          target="_blank"><img src="http://dms.wtcsg.aswatson.net/images/2023_elitefooterbanner.jpg"
            alt="Elite footer banner" width="600" height="100" style="border: 0; display: block;" /></a>
      </td>
    </tr>

    <tr>
      <td width="600" height="5"></td>
    </tr>

    <tr>
      <td width="600" height="85">
        <a href="https://www.watsons.com.sg/app?utm_medium=watsons_email&utm_source=edm&utm_content=earn-points"
          target="_blank"><img src="https://dms.wtcsg.aswatson.net/images/2022_app3_download-watsons-app_footer.jpeg"
            alt="Download the app now" border="0" width="600" height="85" style="border: 0; display: block;" /></a>
      </td>
    </tr>

  </table>
  <!-- end of footer banners -->


  <!-- footer social media icons -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="283">
        <a href="" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_19.jpg"
            style="border: 0; display: block; width: 100%; max-width: 283px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="28">
        <a href="https://bit.ly/29G3GDS" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_20.jpg"
            style="border: 0; display: block; width: 100%; max-width: 28px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="27">
        <a href="https://bit.ly/2a11k03" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_21.jpg"
            style="border: 0; display: block; width: 100%; max-width: 27px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="29">
        <a href="https://www.tiktok.com/@watsonssg" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_22.jpg"
            style="border: 0; display: block; width: 100%; max-width: 29px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="27">
        <a href="https://bit.ly/29HJlwl" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_23.jpg"
            style="border: 0; display: block; width: 100%; max-width: 27px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="28">
        <a href="https://www.linkedin.com/company/watsons-personal-care-stores-pte-ltd/" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_24.jpg"
            style="border: 0; display: block; width: 100%; max-width: 28px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="178">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_25.jpg"
          style="border: 0; display: block; width: 100%; max-width: 178px; display:block;-ms-interpolation-mode:bicubic;" />
      </td>
    </tr>
  </table>
  <!-- end of footer social media icons -->

  <!--social media disclaimer-->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="10" style="font-size: 0;"></td>
      <td width="580" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;" align="center">
        <p style="line-height: 12px; padding: 0; margin: 0; color: #ff0000;"><strong>Disclaimer:</strong> Watsons
          Singapore only has one official Facebook page (with the blue verification tick mark). Please exercise utmost
          caution and <u>do not</u> purchase from fake, inauthentic pages claiming to be Watsons Singapore. Do report to
          us if you encounter any suspicious activity. </p>
      </td>
      <td width="10" style="font-size: 0;"></td>
    </tr>
  </table>
  <!--end of social media disclaimer-->

  <!-- divider -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="20">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_26.jpg" width="600" height="20"
          style="border: 0; display: block;" />
      </td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
  </table>
  <!-- end of divider -->

  <!-- footer links -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td>
        <div align="center">
          <span style="font-family:Verdana, Geneva, sans-serif; FONT-SIZE: 12px; line-height:20px; color:#000000;">
            <a href="https://www.watsons.com.sg/store-finder?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-store-locator&utm_term=https://www.watsons.com.sg/store-finder"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Store Locator</a> |
            <a href="https://www.watsons.com.sg/login?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-my-account&utm_term=https://www.watsons.com.sg/login"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">My Account</a> |
            <a href="https://www.watsons.com.sg/promo-promotion?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-promotion&utm_term=https://www.watsons.com.sg/promotion"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Promotion</a> |
            <a href="mailto:membership@watsons.com.sg" target="_blank"
              style="line-height:0;text-decoration:none;color:#000000;">Contact us</a> |
            <a href="https://www.watsons.com.sg/privacy-policy?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-promotion&utm_term=https://www.watsons.com.sg/privacy-policy"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Privacy Policy</a> |
            <a href="https://www.watsons.com.sg/login?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=unsuscribe&utm_term="
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Unsubscribe</a>
          </span>
        </div>
      </td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr style="font-family:Verdana, Geneva, sans-serif; line-height:0">
      <td width="600" style="width:600px" align="left" valign="top"></td>
    </tr>

    <tr>
      <td height="30" align="center" valign="top"
        style="font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:10px 18px">
        <strong>Watsons Personal Care Stores Pte Ltd</strong><br />
        300 Beach Road<br />
        #39-01/04 The Concourse<br />
        Singapore 199555
      </td>
    </tr>

    <tr>
      <td width="600" style="width:600px" height="55" align="left" valign="top">
        <img src="https://dms.wtcsg.aswatson.net/images/20230731_footer_newlogo.jpg" width="600" height="55"
          style="border: 0; display: block;" />
      </td>
    </tr>
  </table>

</body>
<footer></footer>

</html>