<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Watsons</title>
  <script language="javascript" type="text/javascript">
    function getUrlParams() {
      var params = {};
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
        function (str, key, value) {
          params[key] = value;
        });
      document.getElementById('firstname').innerHTML = params.firstname;
      document.getElementById('lastname').innerHTML = params.lastname;
      document.getElementById('balance').innerHTML = params.balance;
      var currdate = params.currentdate;
      //document.getElementById('currentdate').innerHTML = params.currentdate;
      document.getElementById('currentdate').innerHTML = currdate;
      document.getElementById('cardno').innerHTML = params.cardno;
      document.getElementById('expirypoint').innerHTML = params.expirypoint;
      document.getElementById('expiredate').innerHTML = currdate;
      return params;
    }
  </script>
</head>

<body onload="getUrlParams()" style="padding:0; margin:0;">

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="10">&nbsp;</td>
      <td width="580" height="30" align="center" valign="middle"
        style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Last Chance! FREE WMF Diadem Plus Pot & Makeup
        Bag + Upto 50%OFF Estee Lauder, Chloe, Benefit, Clarins, Givenchy, Dior & MORE!
        <br />
        <%@ include view='aswVIEW12' %>
      </td>
      <td width="10">&nbsp;</td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="10"></td>
    </tr>

    <tr>
      <td width="600"
        style="border: 0; display: block; width: 100%; max-width: 600px; display:block;-ms-interpolation-mode:bicubic;"
        align="left" valign="top">
        <a href="https://www.watsons.com.sg" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_01.jpg" alt="watsons-logo" width="600"
            style="display:block" />
        </a>
      </td>
    </tr>

    <!-- Start - navbar -->
    <tr>
      <td width="600" align="left" valign="top">
        <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
          <tr bgcolor="#ffffff">
            <td width="149">
              <a href="https://www.watsons.com.sg/member-benefits" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_02.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 149px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Members Offers" />
              </a>
            </td>

            <td width="111">
              <a href="https://www.watsons.com.sg/promo-promotion" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_03.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 111px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Promotion" />
              </a>
            </td>

            <td width="145">
              <a href="https://www.watsons.com.sg/home-delivery-express-app" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_04.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 145px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Express Delivery" />
              </a>
            </td>

            <td width="195">
              <a href="https://www.watsons.com.sg/point-expiry" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_05.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 195px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Redeem your points now" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- end - navbar/ -->

    <tr>
      <td width="600" height="15"></td>
    </tr>
  </table>

  <!-- POINTS INFORMATION -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr valign="top">
      <td width="10" style="width: 10px;">&nbsp;</td>

      <td width="290" align="left" style="overflow: hidden;">
        <table width="290" style="width:290px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="left">
          <tr>
            <td height="18">&nbsp;</td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000; font-weight: bold;">Hello</span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 20px; color: #000000; font-weight: bold;">
                <%= recipient.firstName %>
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000;">Card
                number: <%= targetData.card.visible_Card_Num %></span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000;">
                <% if ( targetData.memberTier.TierName=="Base" ) { %>Member Tier : Regular<% } %>
                    <% if ( targetData.memberTier.TierName=="Elite" ) { %>Member Tier: Elite<% } %>
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 11px; color: #000000; font-weight: bold;">
                <% if (targetData.memberTier.TierName=="Base" && targetData.member.elite_spend_remain>0 ) { %>Spend $<%=
                    targetData.member.elite_spend_remain %> by 31 Dec 2025 to upgrade to Elite status and unlock Elite
                    perks as early as next month!<% } %>
                      <% if (targetData.memberTier.TierName=="Elite" && targetData.member.elite_spend_remain>0 ) {
                        %>Spend $<%= targetData.member.elite_spend_remain %> by 31 Dec 2025 to extend your Elite status
                          and continue enjoying Elite perks in 2026!<% } %>
              </span>
            </td>
          </tr>

          <tr>
            <td height="15">&nbsp;</td>
          </tr>
        </table>
      </td>


      <td width="300" align="center" style="overflow: hidden;">
        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="300" height="21">
            </td>
          </tr>
        </table>

        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="5" height="81" align="left" bgcolor="#ff90d4">
            </td>

            <td width="86" height="81" align="left" bgcolor="#ff90d4">
              <table width="86" bgcolor="#ff90d4" style="width: 86px; table-layout: fixed;" border="0" cellpadding="0"
                cellspacing="0" align="center">

                <tr>
                  <td width="86" height="5" valign="top" bgcolor="#ff90d4"></td>
                </tr>

                <tr>
                  <td width="86" height="71" bgcolor="#ff90d4">
                    <img src="https://dms.wtcsg.aswatson.net/images/20230301_NewWatsonsCards.png" width="86" height="71"
                      style="border: 0; display: block;" />
                  </td>
                </tr>

                <tr>
                  <td width="86" height="5" valign="bottom" bgcolor="#ff90d4"></td>
                </tr>

              </table>
            </td>

            <td width="204" height="81" bgcolor="#ff90d4">
              <table width="204" bgcolor="#ff90d4" style="width: 191px; table-layout: fixed;" border="0" cellpadding="0"
                cellspacing="0" align="center">
                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 13px; line-height: 13px; color: #000000; font-weight: bold;">Total
                      point balance</span></td>
                </tr>

                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 20px; line-height: 20px; color: #000000; font-weight: bold; font-style: italic;">
                      <%= targetData.member.point_Bal_Val %>
                    </span></td>
                </tr>

                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 10px; line-height: 11px; color: #000000; font-style: italic;">
                      <%= targetData.member.points_To_Be_Expired_Val %> points expire on 31 Dec’25
                    </span></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="300" height="16">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="15"></td>
    </tr>
  </table>
  <!-- END:POINTS INFORMATION -->

  <!-- CONTENT:BEGIN -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="100">
        <a href="https://www.watsons.com.sg/point-expiry?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=point-expiry"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WAT-CRM_25-P2_3X-BP_eDM-top-GIF_Week3-4.gif" width="600"
            height="100" alt="Point Expiry" style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="469">
        <a href="https://www.watsons.com.sg/promo-members-preview-sale?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=banner"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_01.jpg"
            width="600" height="469" alt="banner" style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="849">
        <a href="https://www.watsons.com.sg/promo-members-preview-sale?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=elite-gwp"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_02.jpg"
            width="600" height="849" alt="elite-gwp" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="599">
        <a href="https://www.watsons.com.sg/promo-members-preview-sale?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=voucher"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_03.jpg"
            width="600" height="599" alt="voucher" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="692">
        <a href="https://www.watsons.com.sg/promo-members-preview-sale?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=online-gwp"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_04.jpg"
            width="600" height="692" alt="online-gwp" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="603">
        <a href="https://www.watsons.com.sg/promo-members-preview-sale?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=ocbc"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_05.jpg"
            width="600" height="603" alt="ocbc" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="732">
        <a href="https://www.watsons.com.sg/promo-mps-brand-vouchers?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=brand-voucher"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_06.jpg"
            width="600" height="732" alt="brand-voucher" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">

    <tr>
      <td width="600" height="387">
        <a href="https://www.watsons.com.sg/app?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=online-exclusive"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_07.jpg"
            width="600" height="387" alt="online-exclusive" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="289">
        <a href="https://www.watsons.com.sg/search?text=BP_43579%20BP_59074&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=top"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_08.jpg"
            width="600" height="289" alt="Top" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="364">
              <a href="https://www.watsons.com.sg/search?text=BP_58126%20BP_58118%20BP_42125%20BP_42126%20BP_42123&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=breeze"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_09a.jpg"
                  width="300" height="364" alt="Breeze" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="364">
              <a href="https://www.watsons.com.sg/cleaning-the-miracle-cleaning-paste-perfect-for-cleaning-dirt-grime-and-stains-850g/p/BP_52779?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=pink-stuff"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_09b.jpg"
                  width="300" height="364" alt="Pink Stuff" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="370">
              <a href="https://www.watsons.com.sg/search?text=BP_64709%20BP_64708%20BP_64710&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=hakugen"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_10a.jpg"
                  width="300" height="370" alt="Hakugen" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="370">
              <a href="https://www.watsons.com.sg/search?text=BP_61363%20BP_61358&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=ambi-pur"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_10b.jpg"
                  width="300" height="370" alt="Ambi Pur" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="433">
              <a href="https://www.watsons.com.sg/stain-pen-9ml/p/BP_67563?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=beckmann"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_11a.jpg"
                  width="300" height="433" alt="Beckmann" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="433">
              <a href="https://www.watsons.com.sg/search?text=BP_73953%20BP_73968&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=magiclean"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_11b.jpg"
                  width="300" height="433" alt="Magiclean" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="391">
              <a href="https://www.watsons.com.sg/power-ball-dishwasher-tablet-58s/p/BP_66801?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=finish"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_12a.jpg"
                  width="300" height="391" alt="Finish" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="391">
              <a href="https://www.watsons.com.sg/search?text=BP_15419%20BP_75887%20BP_34578%20BP_15417%20BP_75886&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=dettol"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_12b.jpg"
                  width="300" height="391" alt="Dettol" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td width="600" height="208">
        <a href="https://www.watsons.com.sg/search?text=BP_65042%20BP_65038%20BP_65043%20BP_65041&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=fab"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_13.jpg"
            width="600" height="208" alt="Fab" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="198">
        <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_14.jpg"
          width="600" height="198" style="border: 0; display: block;" />
      </td>
    </tr>

    <tr>
      <td width="600" height="249">
        <a href="https://www.watsons.com.sg/advanced-night-repair-synchronized-multi-recovery-complex-serum-50ml/p/BP_11299?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=estee-lauder"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_15.jpg"
            width="600" height="249" alt="Estee Lauder" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="190">
        <a href="https://www.watsons.com.sg/eau-de-parfum-packset-consists-edp-women-75ml-5ml-body-lotion-100ml/p/BP_38201?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=chloe"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_16.jpg"
            width="600" height="190" alt="Chloe" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="394">
              <a href="https://www.watsons.com.sg/meteorites-base-universal-shade-mythical-skin-perfecting-and-anti-dullness-make-up-base-30ml/p/BP_50417?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=guerlain"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_17a.jpg"
                  width="300" height="394" alt="Guerlain" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="394">
              <a href="https://www.watsons.com.sg/product-categories/c/1?text=:productBrandCode:productBrandCode:227957?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=benefit"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_17b.jpg"
                  width="300" height="394" alt="Benefit" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="398">
              <a href="https://www.watsons.com.sg/double-serum-anti-aging-for-radiant-complexion50ml/p/BP_49421?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=clarins"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_18a.jpg"
                  width="300" height="398" alt="Clarins" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="398">
              <a href="https://www.watsons.com.sg/product-categories/c/1?text=:productBrandCode:productBrandCode:230930?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=bobbi-brown"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_18b.jpg"
                  width="300" height="398" alt="Bobbi Brown" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="410">
              <a href="https://www.watsons.com.sg/product-categories/c/1?text=:productBrandCode:productBrandCode:230690?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=givenchy"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_19a.jpg"
                  width="300" height="410" alt="Givenchy" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="410">
              <a href="https://www.watsons.com.sg/capture-totale-gift-packset-essence-lotion-50ml-serum-5ml-eye-serum-3ml-wrinkle-correcting-cr%C3%A8me-15ml/p/BP_60812?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=dior"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_19b.jpg"
                  width="300" height="410" alt="Dior" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td width="600" height="373">
        <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_20.jpg"
          width="600" height="373" style="border: 0; display: block;" />
      </td>
    </tr>

    <tr>
      <td width="600" height="325">
        <a href="https://www.watsons.com.sg/search?text=BP_30261%20BP_30262&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=listerene"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_21.jpg"
            width="600" height="325" alt="Listerene" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">

          <tr>
            <td width="300" height="381">
              <a href="https://www.watsons.com.sg/multivitamin-minerals-caplet-supports-immunity-energy-production-replenishes-daily-nutrients-vegetarian-60s/p/BP_20837?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=ocean-health"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_22a.jpg"
                  width="300" height="381" alt="Ocean Health" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="381">
              <a href="https://www.watsons.com.sg/blackmores-odourless-fish-oil-1000mg-capsules-400s/p/BP_38715?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=blackmores"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_22b.jpg"
                  width="300" height="381" alt="Blackmores" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>

          <tr>
            <td width="300" height="415">
              <a href="https://www.watsons.com.sg/vitamin-c-effervescent-tablet-blood-orange-60s/p/BP_33878?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=voost"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_23a.jpg"
                  width="300" height="415" alt="Voost" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="415">
              <a href="https://www.watsons.com.sg/super-lutein-60s/p/BP_77591?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=holistic-way"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_23b.jpg"
                  width="300" height="415" alt="Holistic Way" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>

          <tr>
            <td width="300" height="400">
              <a href="https://www.watsons.com.sg/derma-bright-skin-whitening-60s/p/BP_88967?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=greenlife"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_24a.jpg"
                  width="300" height="400" alt="Greenlife" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="400">
              <a href="https://www.watsons.com.sg/ultiboost-liver-detox-120-tablets/p/BP_71760?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=swisse"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_24b.jpg"
                  width="300" height="400" alt="Swisse" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>

          <tr>
            <td width="300" height="363">
              <a href="https://www.watsons.com.sg/search?text=BP_40346%20BP_43530&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=tampax"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_25a.jpg"
                  width="300" height="363" alt="Tampax" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="363">
              <a href="https://www.watsons.com.sg/search?text=BP_11134%20BP_85696&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=tsubaki"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_25b.jpg"
                  width="300" height="363" alt="Tsubaki" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>

          <tr>
            <td width="300" height="394">
              <a href="https://www.watsons.com.sg/search?text=BP_95592%20BP_29411&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=icm-pharma"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_26a.jpg"
                  width="300" height="394" alt="ICM Pharma" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="394">
              <a href="https://www.watsons.com.sg/search?text=BP_18713%20BP_22126&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=colgate"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_26b.jpg"
                  width="300" height="394" alt="Colgate" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>

          <tr>
            <td width="300" height="394">
              <a href="https://www.watsons.com.sg/skin-lotion-body-lotion-for-mildly-dry-sensitive-eczema-prone-skin-1l/p/BP_38761?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=qv"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_27a.jpg"
                  width="300" height="394" alt="QV" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="394">
              <a href="https://www.watsons.com.sg/search?text=BP_67498%20BP_67499&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=aveeno"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_27b.jpg"
                  width="300" height="394" alt="Aveeno" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>

          <tr>
            <td width="300" height="394">
              <a href="https://www.watsons.com.sg/search?text=BP_93517%20BP_83488&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=sukin"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_28a.jpg"
                  width="300" height="394" alt="Sukin" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="394">
              <a href="https://www.watsons.com.sg/search?text=BP_77005%20BP_47240&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=eucerin"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_28b.jpg"
                  width="300" height="394" alt="Eucerin" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>

          <tr>
            <td width="300" height="383">
              <a href="https://www.watsons.com.sg/search?text=BP_43359%20BP_12237&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=loreal"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_29a.jpg"
                  width="300" height="383" alt="L’Oreal" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="383">
              <a href="https://www.watsons.com.sg/search?text=BP_62700%20BP_52112&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=garnier"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_29b.jpg"
                  width="300" height="383" alt="Garnier" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
          <tr>
            <td width="300" height="385">
              <a href="https://www.watsons.com.sg/search?text=BP_30121%20BP_93316?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=silkygirl"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_30a.jpg"
                  width="300" height="385" alt="Silky Girl" style="border: 0; display: block;" />
              </a>
            </td>
            <td width="300" height="385">
              <a href="https://www.watsons.com.sg/search?text=BP_50479%20BP_31330&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=maybelline"
                target="_blank">
                <img
                  src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_30b.jpg"
                  width="300" height="385" alt="Maybelline" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td width="600" height="288">
        <a href="https://www.watsons.com.sg/search?text=BP_49137%20BP_57617&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=peripera"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_31.jpg"
            width="600" height="288" alt="Peripera" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="410">
        <a href="https://www.watsons.com.sg/search?text=BP_75659%20BP_75658&utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=aveda"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_32.jpg"
            width="600" height="410" alt="Aveda" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="382">
        <a href="https://www.watsons.com.sg/soothing-cleansing-oil-for-normal-oily-sensitive-skin-eyes-200ml/p/BP_75551?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=bobbi-brown"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_33.jpg"
            width="600" height="382" alt="Bobbi Brown" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="408">
        <a href="https://www.watsons.com.sg/double-serum-anti-aging-for-radiant-complexion50ml/p/BP_49421?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=clarins"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_34.jpg"
            width="600" height="408" alt="Clarins" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="243">
        <a href="https://www.watsons.com.sg/home-delivery-express-app?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=hde"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_35.jpg"
            width="600" height="243" alt="hde" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="243">
        <a href="https://catalog.watsons.com.sg/feb-mps2025?utm_campaign=20250223_onlinemps&utm_medium=watsons_email&utm_source=edm&utm_content=ecat"
          target="_blank">
          <img src="https://gitlab.com/codekakis/tilt-edm/-/raw/master/projects/watsons-15/images/WCRM250218_36.jpg"
            width="600" height="243" alt="ecat" style="border: 0; display: block;" />
        </a>
      </td>
    </tr>

  </table>

  <!-- CONTENT:END -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="20" style="font-size: 0;"></td>
      <td width="560" style="font-family:Arial, Helvetica, sans-serif; font-size:17px;">
        <p style="line-height: 20px; padding: 0; margin: 0; font-size: 17px;"><strong>Terms and Conditions:</strong></p>

        <!-- 1 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Members’ Sale Extension is exclusively for Watsons
          members on 24 Feb 2025 at <a href="https://www.watsons.com.sg" target="_blank">watsons.com.sg</a> and/or
          Watsons SG APP.</p>

        <!-- 2 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Free Heart Wristlet Pouch is exclusively for elite
          members who spend min. $150 nett in a single receipt and are available at Watsons Online and 84 participating
          stores. Limited to 1 Heart Wristlet Pouch per elite member, while stocks last.</p>

        <!-- 3 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Tweed Makeup Bag and WMF Diadem Plus High Casserole with
          Glass Lid are applicable to online purchases made on <a href="https://www.watsons.com.sg"
            target="_blank">watsons.com.sg</a> and/or Watsons SG app only. While stocks last.</p>

        <!-- 4 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Free gifts with assorted colours are issued on a random
          basis.</p>

        <!-- 5 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• For online purchases, free gifts will automatically be
          added to your online cart before checkout.</p>

        <!-- 6 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Free gifts are not available on express delivery options
          (Home Delivery Express / Click & Collect Express).</p>

        <!-- 7 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Products under direct supplier delivery and milk powder
          stage 1 & 2 are excluded from the free gifts’ promotion.</p>

        <!-- 8 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Purchases & / or top-up of gift card value are excluded
          from the free gifts’ promotion.</p>

        <!-- 9 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• eVouchers are available on a while-stocks-last basis and
          applicable to min. purchases.</p>

        <!-- 10 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Online delivery fee is excluded from the qualifying spend
          to redeem cash vouchers. Purchases and / or top-up of gift card value are excluded from the qualifying spend
          to redeem cash vouchers.</p>

        <!-- 11 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• For refund cases where total nett spend falls below $150
          / $300 / $500, Watsons vouchers will need to be returned.</p>

        <!-- 12 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• E-Vouchers for transactions made on Watsons Online will
          be issued 35 working days after the sale ends.</p>

        <!-- 13 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• Jubilee Card discounts are not valid in conjunction with
          other discounts and promotions.</p>

        <!-- 14 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• ^For online purchases, members enjoy FREE delivery with
          min. $40 nett spend. Non-members enjoy FREE delivery with min. $50 nett spend.</p>

        <!-- 15 -->
        <p style="line-height: 15px; padding: 0; margin: 0;">• *Points balance will be updated within 3 days from
          transaction date. For online transactions, point balance will be updated 2 days after parcel delivery.</p>

      </td>
      <td width="20" style="font-size: 0;"></td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
  </table>

  <!-- footer banners -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="102">
        <a href="https://www.watsons.com.sg/member-benefits" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_15.jpg" width="600" height="102"
            style="border: 0; display: block;" alt="member page" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="5"></td>
    </tr>

    <tr>
      <td width="600" height="85">
        <a href="https://www.watsons.com.sg/elite-benefits?utm_medium=watsons_email&utm_source=edm&utm_content=elite-benefits-footer"
          target="_blank"><img src="http://dms.wtcsg.aswatson.net/images/2025_elitefooterbanner.jpg"
            alt="Elite footer banner" width="600" height="85" style="border: 0; display: block;" /></a>
      </td>
    </tr>

    <tr>
      <td width="600" height="5"></td>
    </tr>

    <tr>
      <td width="600" height="85">
        <a href="https://www.watsons.com.sg/app?utm_medium=watsons_email&utm_source=edm&utm_content=earn-points"
          target="_blank"><img src="https://dms.wtcsg.aswatson.net/images/2022_app3_download-watsons-app_GIF.gif"
            alt="Download the app now" border="0" width="600" height="85" style="border: 0; display: block;" /></a>
      </td>
    </tr>

  </table>
  <!-- end of footer banners -->


  <!-- footer social media icons -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="283">
        <a href="" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_19.jpg"
            style="border: 0; display: block; width: 100%; max-width: 283px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="28">
        <a href="https://bit.ly/29G3GDS" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_20.jpg"
            style="border: 0; display: block; width: 100%; max-width: 28px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="27">
        <a href="https://bit.ly/2a11k03" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_21.jpg"
            style="border: 0; display: block; width: 100%; max-width: 27px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="29">
        <a href="https://www.tiktok.com/@watsonssg" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_22.jpg"
            style="border: 0; display: block; width: 100%; max-width: 29px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="27">
        <a href="https://bit.ly/29HJlwl" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_23.jpg"
            style="border: 0; display: block; width: 100%; max-width: 27px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="28">
        <a href="https://www.linkedin.com/company/watsons-personal-care-stores-pte-ltd/" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_24.jpg"
            style="border: 0; display: block; width: 100%; max-width: 28px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="178">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_25.jpg"
          style="border: 0; display: block; width: 100%; max-width: 178px; display:block;-ms-interpolation-mode:bicubic;" />
      </td>
    </tr>
  </table>
  <!-- end of footer social media icons -->

  <!--social media disclaimer-->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="10" style="font-size: 0;"></td>
      <td width="580" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;" align="center">
        <p style="line-height: 12px; padding: 0; margin: 0; color: #ff0000;"><strong>Disclaimer:</strong> Watsons
          Singapore only has one official Facebook page (with the blue verification tick mark). Please exercise utmost
          caution and <u>do not</u> purchase from fake, inauthentic pages claiming to be Watsons Singapore. Do report to
          us if you encounter any suspicious activity. </p>
      </td>
      <td width="10" style="font-size: 0;"></td>
    </tr>
  </table>
  <!--end of social media disclaimer-->

  <!-- divider -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="20">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_26.jpg" width="600" height="20"
          style="border: 0; display: block;" />
      </td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
  </table>
  <!-- end of divider -->

  <!-- footer links -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td>
        <div align="center">
          <span style="font-family:Verdana, Geneva, sans-serif; FONT-SIZE: 12px; line-height:20px; color:#000000;">
            <a href="https://www.watsons.com.sg/store-finder?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-store-locator&utm_term=https://www.watsons.com.sg/store-finder"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Store Locator</a> |
            <a href="https://www.watsons.com.sg/login?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-my-account&utm_term=https://www.watsons.com.sg/login"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">My Account</a> |
            <a href="https://www.watsons.com.sg/promo-promotion?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-promotion&utm_term=https://www.watsons.com.sg/promotion"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Promotion</a> |
            <a href="mailto:membership@watsons.com.sg" target="_blank"
              style="line-height:0;text-decoration:none;color:#000000;">Contact us</a> |
            <a href="https://www.watsons.com.sg/privacy-policy?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-promotion&utm_term=https://www.watsons.com.sg/privacy-policy"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Privacy Policy</a> |
            <a href="https://www.watsons.com.sg/login?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=unsuscribe&utm_term="
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Unsubscribe</a>
          </span>
        </div>
      </td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr style="font-family:Verdana, Geneva, sans-serif; line-height:0">
      <td width="600" style="width:600px" align="left" valign="top"></td>
    </tr>

    <tr>
      <td height="30" align="center" valign="top"
        style="font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:10px 18px">
        <strong>Watsons Personal Care Stores Pte Ltd</strong><br />
        300 Beach Road<br />
        #39-01/04 The Concourse<br />
        Singapore 199555
      </td>
    </tr>

    <tr>
      <td width="600" style="width:600px" height="55" align="left" valign="top">
        <img src="https://dms.wtcsg.aswatson.net/images/20230731_footer_newlogo.jpg" width="600" height="55"
          style="border: 0; display: block;" />
      </td>
    </tr>
  </table>

</body>

<footer></footer>

</html>