<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Watsons</title>
  <script language="javascript" type="text/javascript">
    function getUrlParams() {
      var params = {};
      window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
        function (str, key, value) {
          params[key] = value;
        });
      document.getElementById('firstname').innerHTML = params.firstname;
      document.getElementById('lastname').innerHTML = params.lastname;
      document.getElementById('balance').innerHTML = params.balance;
      var currdate = params.currentdate;
      //document.getElementById('currentdate').innerHTML = params.currentdate;
      document.getElementById('currentdate').innerHTML = currdate;
      document.getElementById('cardno').innerHTML = params.cardno;
      document.getElementById('expirypoint').innerHTML = params.expirypoint;
      document.getElementById('expiredate').innerHTML = currdate;
      return params;
    }
  </script>
</head>

<body onload="getUrlParams()" style="padding:0; margin:0;">

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="10">&nbsp;</td>
      <td width="580" height="30" align="center" valign="middle"
        style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">Shop up to 50% Off Greenlife Deer Placenta,
        Kordel's Vitamin, Holistic Way Super Joint Food & more attractive deals!<br />
        <%@ include view='aswVIEW12' %>
      </td>
      <td width="10">&nbsp;</td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="10"></td>
    </tr>

    <tr>
      <td width="600"
        style="border: 0; display: block; width: 100%; max-width: 600px; display:block;-ms-interpolation-mode:bicubic;"
        align="left" valign="top">
        <a href="https://www.watsons.com.sg" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_01.jpg" alt="watsons-logo" width="600"
            style="display:block" />
        </a>
      </td>
    </tr>

    <!-- Start - navbar -->
    <tr>
      <td width="600" align="left" valign="top">
        <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
          <tr bgcolor="#ffffff">
            <td width="149">
              <a href="https://www.watsons.com.sg/member-benefits" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_02.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 149px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Members Offers" />
              </a>
            </td>

            <td width="111">
              <a href="https://www.watsons.com.sg/promo-promotion" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_03.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 111px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Promotion" />
              </a>
            </td>

            <td width="145">
              <a href="https://www.watsons.com.sg/home-delivery-express-app" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_04.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 145px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Express Delivery" />
              </a>
            </td>

            <td width="195">
              <a href="https://www.watsons.com.sg/point-expiry" target="_blank">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_05.jpg"
                  style="border: 0; display: block; width: 100%; max-width: 195px; display:block;-ms-interpolation-mode:bicubic;"
                  alt="Redeem your points now" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- end - navbar/ -->

    <tr>
      <td width="600" height="15"></td>
    </tr>
  </table>

  <!-- POINTS INFORMATION -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr valign="top">
      <td width="10" style="width: 10px;">&nbsp;</td>

      <td width="290" align="left" style="overflow: hidden;">
        <table width="290" style="width:290px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="left">
          <tr>
            <td height="18">&nbsp;</td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000; font-weight: bold;">Hello</span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 20px; color: #000000; font-weight: bold;">
                <%= recipient.firstName %>
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000;">Card
                number: <%= targetData.card.visible_Card_Num %></span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 13px; color: #000000;">
                <% if ( targetData.memberTier.TierName=="Base" ) { %>Member Tier : Regular<% } %>
                    <% if ( targetData.memberTier.TierName=="Elite" ) { %>Member Tier: Elite<% } %>
              </span>
            </td>
          </tr>

          <tr>
            <td>
              <span
                style="word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0; padding: 0; font-size: 11px; color: #000000; font-weight: bold;">
                <% if (targetData.memberTier.TierName=="Base" && targetData.member.elite_spend_remain>0 ) { %>Spend $<%=
                    targetData.member.elite_spend_remain %> by 31 Dec 2025 to upgrade to Elite status and unlock Elite
                    perks as early as next month!<% } %>
                      <% if (targetData.memberTier.TierName=="Elite" && targetData.member.elite_spend_remain>0 ) {
                        %>Spend $<%= targetData.member.elite_spend_remain %> by 31 Dec 2025 to extend your Elite status
                          and continue enjoying Elite perks in 2026!<% } %>
              </span>
            </td>
          </tr>

          <tr>
            <td height="15">&nbsp;</td>
          </tr>
        </table>
      </td>


      <td width="300" align="center" style="overflow: hidden;">
        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="300" height="21">
            </td>
          </tr>
        </table>

        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="5" height="81" align="left" bgcolor="#ff90d4">
            </td>

            <td width="86" height="81" align="left" bgcolor="#ff90d4">
              <table width="86" bgcolor="#ff90d4" style="width: 86px; table-layout: fixed;" border="0" cellpadding="0"
                cellspacing="0" align="center">

                <tr>
                  <td width="86" height="5" valign="top" bgcolor="#ff90d4"></td>
                </tr>

                <tr>
                  <td width="86" height="71" bgcolor="#ff90d4">
                    <img src="https://dms.wtcsg.aswatson.net/images/20230301_NewWatsonsCards.png" width="86" height="71"
                      style="border: 0; display: block;" />
                  </td>
                </tr>

                <tr>
                  <td width="86" height="5" valign="bottom" bgcolor="#ff90d4"></td>
                </tr>

              </table>
            </td>

            <td width="204" height="81" bgcolor="#ff90d4">
              <table width="204" bgcolor="#ff90d4" style="width: 191px; table-layout: fixed;" border="0" cellpadding="0"
                cellspacing="0" align="center">
                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 13px; line-height: 13px; color: #000000; font-weight: bold;">Total
                      point balance</span></td>
                </tr>

                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 20px; line-height: 20px; color: #000000; font-weight: bold; font-style: italic;">
                      <%= targetData.member.point_Bal_Val %>
                    </span></td>
                </tr>

                <tr>
                  <td align="center" bgcolor="#ff90d4"><span
                      style="text-align: center; word-wrap: break-word; font-family: 'Arial'; display: block; margin: 0 auto; padding: 0; font-size: 10px; line-height: 11px; color: #000000; font-style: italic;">
                      <%= targetData.member.points_To_Be_Expired_Val %> points expire on 31 Dec’25
                    </span></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table width="300" bgcolor="#ffffff" style="width: 300px; table-layout: fixed;" border="0" cellpadding="0"
          cellspacing="0" align="center">
          <tr width="300">
            <td width="300" height="16">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="15"></td>
    </tr>

  </table>
  <!-- END:POINTS INFORMATION -->

  <!-- CONTENT:BEGIN -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="100">
        <a href="https://www.watsons.com.sg/promo-elite-ten-bonus-points?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=elite10xbp"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/2025P2_EliteHotBuy_GIF_Banner.gif" width="600" height="100"
            alt="elite10xbp" style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="280">
        <a href="https://www.watsons.com.sg/promo-healthcare?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=health"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_01.jpg" width="600" height="280" alt="health"
            style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="300" height="298">
              <a
                href="https://www.watsons.com.sg/derma-youth-deer-placenta-softgel-promote-healthy-youthful-skin-60s/p/BP_41130?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=greenlife">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_02a.jpg" width="300" height="298"
                  alt="greenlife" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="300" height="298">
              <a
                href="https://www.watsons.com.sg/vitamin-k2-d3-60s/p/BP_88878?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=kordels">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_02b.jpg" width="300" height="298"
                  alt="kordels" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>


    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="200" height="325">
              <a
                href="https://www.watsons.com.sg/super-joint-food-60-vegetarian-capsules/p/BP_83172?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=holistic-way">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_03a.jpg" width="200" height="325"
                  alt="holistic-way" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="325">
              <a
                href="https://www.watsons.com.sg/fat-burner-plus-2x60-capsules/p/BP_12596?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=avalon">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_03b.jpg" width="200" height="325"
                  alt="avalon" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="325">
              <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_03c.jpg" width="200" height="325"
                style="border: 0; display: block;" />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="200" height="375">
              <a
                href="https://www.watsons.com.sg/search?text=BP_54009%20BP_52992&utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=singchoice">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_04a.jpg" width="200" height="375"
                  alt="singchoice" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="375">
              <a
                href="https://www.watsons.com.sg/kids-daily-gummy-vitamins-omega-3-fish-oil-30-day-supply-with-epa-dha-for-nutritional-brain-support-60s/p/BP_31263?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=gumazing">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_04b.jpg" width="200" height="375"
                  alt="gumazing" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="375">
              <a
                href="https://www.watsons.com.sg/search?text=BP_89560%20BP_89561%20BP_45579%20BP_45584&utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=olly">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_04c.jpg" width="200" height="375" alt="olly"
                  style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td width="600" height="123">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_05.jpg" width="600" height="123"
          style="border: 0; display: block" />
      </td>
    </tr>


    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="200" height="371">
              <a
                href="https://www.watsons.com.sg/nazal-spray-pump-30ml/p/BP_10500?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=sato">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_06a.jpg" width="200" height="371" alt="sato"
                  style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="371">
              <a
                href="https://www.watsons.com.sg/search?text=BP_73305%20BP_73309%20BP_73310%20BP_73311&utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=go2">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_06b.jpg" width="200" height="371" alt="go2"
                  style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="371">
              <a
                href="https://www.watsons.com.sg/cough-relief-patch-infrared-heating-herbal-for-cough-sore-throat-6s/p/BP_15262?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=kplass">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_06c.jpg" width="200" height="371"
                  alt="kplass" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table width="600" style="width:600px; table-layout:fixed;" border="0" cellpadding="0" cellspacing="0"
          align="center">
          <tr>
            <td width="200" height="369">
              <a
                href="https://www.watsons.com.sg/clear-waterproof-bandages-20s/p/BP_48168?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=nexcare">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_07a.jpg" width="200" height="369"
                  alt="nexcare" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="369">
              <a
                href="https://www.watsons.com.sg/fever-for-babies-4-s/p/BP_64711?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=byebye">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_07b.jpg" width="200" height="369"
                  alt="byebye" style="border: 0; display: block;" />
              </a>
            </td>

            <td width="200" height="369">
              <a
                href="https://www.watsons.com.sg/systane-ultra-lubricant-eye-drop-fast-acting-dry-eye-relief-10ml/p/BP_55414?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=systane">
                <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_07c.jpg" width="200" height="369"
                  alt="systane" style="border: 0; display: block;" />
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td width="600" height="124">
        <a href="https://www.watsons.com.sg/promo-healthcare?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=health"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_08.jpg" width="600" height="124" alt="health"
            style="border: 0; display: block" />
        </a>
      </td>
    </tr>


    <tr>
      <td width="600" height="415">
        <a href="https://www.watsons.com.sg/gnc-memberperks?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=gnc"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_09.jpg" width="600" height="415" alt="gnc"
            style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="669">
        <a href="https://www.watsons.com.sg/promo-promotion?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=upto50off"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_10.jpg" width="600" height="669" alt="upto50off"
            style="border: 0; display: block" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="289">
        <a href="https://catalog.watsons.com.sg/happyvalentinesday?utm_campaign=20250224_health&utm_medium=watsons_email&utm_source=edm&utm_content=ecat"
          target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM250221_11.jpg" width="600" height="289" alt="ecat"
            style="border: 0; display: block" />
        </a>
      </td>
    </tr>

  </table>

  <!-- CONTENT:END -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="20" style="font-size: 0;"></td>
      <td width="560" style="font-family:Arial, Helvetica, sans-serif; font-size:17px;">
        <p style="line-height: 20px; padding: 0; margin: 0; font-size: 17px;"><strong>Terms and Conditions:</strong></p>

        <p style="line-height: 15px; padding: 0; margin: 0;">• Promotion is valid till 26 Feb 2025.</p>

        <p style="line-height: 15px; padding: 0; margin: 0;">• Promotion is applicable at watsons.com.sg, Watsons SG
          Mobile App and all Watsons stores except Watsons atrium events.</p>

        <p style="line-height: 15px; padding: 0; margin: 0;">• Promotion is not valid with other discounts and offers.
        </p>

        <p style="line-height: 15px; padding: 0; margin: 0;">• Jubilee Card discounts are not valid in conjunction with
          other discounts and promotions.</p>

        <p style="line-height: 15px; padding: 0; margin: 0;">• Watsons reserves the right to change the Terms &
          Conditions of the promotion.</p>

        <p style="line-height: 15px; padding: 0; margin: 0;">• *Points balance will be updated within 3 days from
          transaction date. For online transaction, point balance will be updated 2 days after parcel delivery.</p>

      </td>
      <td width="20" style="font-size: 0;"></td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td height="10">&nbsp;</td>
    </tr>
  </table>

  <!-- footer banners -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="102">
        <a href="https://www.watsons.com.sg/member-benefits" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_15.jpg" width="600" height="102"
            style="border: 0; display: block;" alt="member page" />
        </a>
      </td>
    </tr>

    <tr>
      <td width="600" height="5"></td>
    </tr>

    <tr>
      <td width="600" height="85">
        <a href="https://www.watsons.com.sg/elite-benefits?utm_medium=watsons_email&utm_source=edm&utm_content=elite-benefits-footer"
          target="_blank"><img src="http://dms.wtcsg.aswatson.net/images/2025_elitefooterbanner.jpg"
            alt="Elite footer banner" width="600" height="85" style="border: 0; display: block;" /></a>
      </td>
    </tr>

    <tr>
      <td width="600" height="5"></td>
    </tr>

    <tr>
      <td width="600" height="85">
        <a href="https://www.watsons.com.sg/app?utm_medium=watsons_email&utm_source=edm&utm_content=earn-points"
          target="_blank"><img src="https://dms.wtcsg.aswatson.net/images/2022_app3_download-watsons-app_GIF.gif"
            alt="Download the app now" border="0" width="600" height="85" style="border: 0; display: block;" /></a>
      </td>
    </tr>

  </table>
  <!-- end of footer banners -->


  <!-- footer social media icons -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="283">
        <a href="" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_19.jpg"
            style="border: 0; display: block; width: 100%; max-width: 283px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="28">
        <a href="https://bit.ly/29G3GDS" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_20.jpg"
            style="border: 0; display: block; width: 100%; max-width: 28px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="27">
        <a href="https://bit.ly/2a11k03" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_21.jpg"
            style="border: 0; display: block; width: 100%; max-width: 27px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="29">
        <a href="https://www.tiktok.com/@watsonssg" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_22.jpg"
            style="border: 0; display: block; width: 100%; max-width: 29px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="27">
        <a href="https://bit.ly/29HJlwl" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_23.jpg"
            style="border: 0; display: block; width: 100%; max-width: 27px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="28">
        <a href="https://www.linkedin.com/company/watsons-personal-care-stores-pte-ltd/" target="_blank">
          <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_24.jpg"
            style="border: 0; display: block; width: 100%; max-width: 28px; display:block;-ms-interpolation-mode:bicubic;" />
        </a>
      </td>

      <td width="178">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_25.jpg"
          style="border: 0; display: block; width: 100%; max-width: 178px; display:block;-ms-interpolation-mode:bicubic;" />
      </td>
    </tr>
  </table>
  <!-- end of footer social media icons -->

  <!--social media disclaimer-->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="10" style="font-size: 0;"></td>
      <td width="580" style="font-family:Arial, Helvetica, sans-serif; font-size:12px;" align="center">
        <p style="line-height: 12px; padding: 0; margin: 0; color: #ff0000;"><strong>Disclaimer:</strong> Watsons
          Singapore only has one official Facebook page (with the blue verification tick mark). Please exercise utmost
          caution and <u>do not</u> purchase from fake, inauthentic pages claiming to be Watsons Singapore. Do report to
          us if you encounter any suspicious activity. </p>
      </td>
      <td width="10" style="font-size: 0;"></td>
    </tr>
  </table>
  <!--end of social media disclaimer-->

  <!-- divider -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td width="600" height="20">
        <img src="https://dms.wtcsg.aswatson.net/images/WCRM230603TEMPLATEEDM_26.jpg" width="600" height="20"
          style="border: 0; display: block;" />
      </td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
  </table>
  <!-- end of divider -->

  <!-- footer links -->
  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td>
        <div align="center">
          <span style="font-family:Verdana, Geneva, sans-serif; FONT-SIZE: 12px; line-height:20px; color:#000000;">
            <a href="https://www.watsons.com.sg/store-finder?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-store-locator&utm_term=https://www.watsons.com.sg/store-finder"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Store Locator</a> |
            <a href="https://www.watsons.com.sg/login?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-my-account&utm_term=https://www.watsons.com.sg/login"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">My Account</a> |
            <a href="https://www.watsons.com.sg/promo-promotion?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-promotion&utm_term=https://www.watsons.com.sg/promotion"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Promotion</a> |
            <a href="mailto:membership@watsons.com.sg" target="_blank"
              style="line-height:0;text-decoration:none;color:#000000;">Contact us</a> |
            <a href="https://www.watsons.com.sg/privacy-policy?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=footer-promotion&utm_term=https://www.watsons.com.sg/privacy-policy"
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Privacy Policy</a> |
            <a href="https://www.watsons.com.sg/login?utm_campaign=20220126_sw20&utm_medium=email&utm_source=edm&utm_content=unsuscribe&utm_term="
              target="_blank" style="line-height:0;text-decoration:none;color:#000000;">Unsubscribe</a>
          </span>
        </div>
      </td>
    </tr>
  </table>

  <table width="600" style="width:600px;table-layout:fixed;" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr style="font-family:Verdana, Geneva, sans-serif; line-height:0">
      <td width="600" style="width:600px" align="left" valign="top"></td>
    </tr>

    <tr>
      <td height="30" align="center" valign="top"
        style="font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:10px 18px">
        <strong>Watsons Personal Care Stores Pte Ltd</strong><br />
        300 Beach Road<br />
        #39-01/04 The Concourse<br />
        Singapore 199555
      </td>
    </tr>

    <tr>
      <td width="600" style="width:600px" height="55" align="left" valign="top">
        <img src="https://dms.wtcsg.aswatson.net/images/20230731_footer_newlogo.jpg" width="600" height="55"
          style="border: 0; display: block;" />
      </td>
    </tr>
  </table>

</body>
<footer></footer>

</html>